<div class="note-control-card">
    <a class="button toggle-control">✍️ Edit</a>
    <div class="note-control hidden">
        <form class="note-form">
            <input name="id" type="hidden" value="" />
            <label>
                <span>Edit Note</span>
                <input name="content" type="text" value="{{ note.content }}" />
            </label>
            

            <button data-action="update">💫 Update Note</button>
            <hr />
            <button data-action="cancel">👈 Cancel</button>
            <button data-action="delete">❌ Delete Note</button>
        </form>
    </div>
</div>